<!--------------------------- This is the header banner that goes on all pages with a big image --------------------------->
<header class="absolute z-10 inset-x-0 px-5 font-serif text-main-color">
    <div  class="flex justify-between max-w-screen-2xl mx-auto p-5 relative">
        <a href="/index.html"> The Yoga Studio </a>
        <nav class="flex gap-4 uppercase">
            <a href="/classes.html"> Our Classes </a>
            <a href="/schedule.html"> Schedule </a>
            <a href="/contact.html"> Contact </a>
        </nav>
    </div>
</header>